BorderPane, TableView {
    -fx-background-color: black;
}
.button, .table-column {
    -fx-border-color: blue;
    -fx-background-color: indigo;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
